body {
    width: auto;
    height: 1000px;
    background: linear-gradient(135deg, #4A96AD 20%, #74AFAD 60%);
}

h1 {
    color: #D9853B;
    font-family: "Courier New", Courier, monospace;
}

h2 {
    color: #F5F3EE;
    font-family: "Courier New", Courier, monospace;
}

p {
    color: #ECECEA;
    font-family: "Courier New", Courier, monospace;
}

